@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap'); /* FOR PARAGRAPHS */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap'); /* FOR HEADERS */

@font-face {
  font-family: 'Bantayog-Regular';
  src: url(/fonts/bantayog/Bantayog-Regular.otf);
}

@font-face {
  font-family: 'Tropika-Island';
  src: url(/fonts/Tropika_Island/Aiyari\ -\ Tropika\ Island\ Int.otf);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tropika-Island';
  
}
main {
  position: relative !important;
}

h1 {
    color:#db6551!important;
}
.card {
  border-radius: 10px;
  align-items: center;
  position: relative;
  overflow:hidden;
  box-shadow: inset 0 -3em 5em rgba(0, 0, 0, 0.1), 0 0 0 3px #2f1f18,
  0.5em 0.5em 2em rgba(0, 0, 0, 0.3); }

body {
  -webkit-font-smoothing: antialiased;
}

.header {
  font-family: 'Tropika-Island';
  display: block;
  text-align: center;
  margin-top:5%;
  color: #2f1f18!important;
  
}
.card-header {
  color:#2f1f18!important;
}
.card-img {
  width: 100%;
  max-height:max-content;
  max-width: 20vw;
  object-fit: cover;
}
.card-body {
  max-height:17vw;
  overflow: auto;
  position:relative;
  margin: top 10px left 0px right 10px;
  right:25px;
}
.card-text {
    font-size: 16.5px;
    position: relative;
    object-fit: contain;
    line-height: 0.49cm;
    text-align: justify;
    color:#2f1f18!important;
}
.col .card :hover{
  transform: scale(1);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  cursor: pointer;
}

/* BACK BUTTON */
.backbtn {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom:8px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #2f1f18;
  font-size: 1rem;
  cursor: pointer;
  
  }

.backbtn span {
  font-weight:bold;
  color:white!important;
  position: absolute;
  float:left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
  
.backbtn:hover {
  background-color: #7d6053;
  color:#ffffff;
}  


/* CART BUTTON */
.cart__button {
  position: relative!important;;
  display:flex;
  margin-bottom:8px;
  right:50px;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  background-color: #eed1c2;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

hr {
  height: 1px;
  border: none;
}

.cart__button:hover {
  background-color: #7d6053;
  
}

.cart__button:active {
  transform: scale(0.9);
}

.cart__button .fa-shopping-cart {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
}

.cart__button .fa-box {
  position: absolute;
  z-index: 3;
  top: -20%;
  left: 52%;
  font-size: 0.875rem;
  transform: translate(-50%, -50%);
}

.cart__button span {
  position: absolute;
  color:white!important;
  left: 50%;
  z-index: 3;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cart__button span.add__to-cart {
  opacity: 1;
}

.cart__button span.added {
  opacity: 0;
  font-weight:bold;
}

.cart__button.clicked .fa-shopping-cart {
  animation: cart 1.5s ease-in-out forwards;
}

.cart__button.clicked .fa-box {
  animation: box 1.5s ease-in-out forwards;
}

.cart__button.clicked span.add__to-cart {
  animation: txt1 1.5s ease-in-out forwards;
}

.cart__button.clicked span.added {
  animation: txt2 1.5s ease-in-out forwards;
}

@keyframes cart {
  0% {
    left: -10%;
  }

  40%,
  60% {
    left: 50%;
  }

  100% {
    left: 110%;
  }
}

@keyframes box {
  0%,
  40% {
    top: -20%;
  }

  60% {
    top: 40%;
    left: 52%;
  }

  100% {
    top: 40%;
    left: 112%;
  }
}

@keyframes txt1 {
  0% {
    opacity: 1;
  }

  20%,
  100% {
    opacity: 0;
  }
}

@keyframes txt2 {
  0%,
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

