body{
    margin:0;
    padding:0;
    font-family: 'Tomorrow', sans-serif;
    height:100vh;
    background-image: linear-gradient(to top, #57ccbd, #1f1746, #000, #0d1028, #050819);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
  }
  .text{
    position:absolute;
    top:10%;
    color:#fff;
    text-align:center;
    font-size: 70px;
  }
  .star{
    position:absolute;
    width:4px;
    height:2px;
    background:#fff;
    right:0;
    animation:starTwinkle 2s infinite linear;
  }
  .frenchie img{
    width:200px;
    position:absolute;
    top:50%;
    animation:astronautFly 6s infinite linear;
  }
  @keyframes astronautFly{
    0%{
      left:-100px;
    }
    25%{
      top:50%;
      transform:rotate(30deg);
    }
    50%{
      transform:rotate(45deg);
      top:65%;
    }
    75%{
      top:50%;
      transform:rotate(180deg);
    }
    100%{
      left:110%;
      transform:rotate(360deg);
    }
  }
  @keyframes starTwinkle{
    0%{
       background:rgba(255,255,255,0.4);
    }
    25%{
      background:rgba(255,255,255,0.8);
    }
    50%{
     background:rgba(255,255,255,1);
    }
    75%{
      background:rgba(255,255,255,0.8);
    }
    100%{
      background:rgba(255,255,255,0.4);
    }
  }

  /* BACK TO HOME PAGE BUTTON */
.btn:link, .btn:visited {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.015em;
    font-size: 1em;
    padding: 1em 3em;
    color: #fff;
    background: #58cbbd;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.25s linear;
  }

  .btn:after {
    content: "- ❯";
    padding: 0.5em;
    position: relative;
    right: 0;
    transition: all 0.15s linear;
    background: #58cbbd;
  }
  .btn:hover, .btn:focus, .btn:active {
    background: #58cbbd;
  }
  .btn:hover:after, .btn:focus:after, .btn:active:after {
    right: -10px;
  }
 /* BACK TO HOME PAGE BUTTON */

/*
  @media only screen and (max-width: 39.375em) {  
    a.btn.continue {
        width: 100%;
        text-align: center;
      }
  }
  */