footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
}

/* ----------------------------MOBILE RESPONSIVENESS------------------------------- */

@media screen and (min-width: 390px) and (max-width: 767.98px) {
  footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 50px;
  }
}
