/*FONTS IMPORT*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
/* FOR PARAGRAPHS */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
/* font-family: 'Acme', sans-serif; FOR HEADERS */
/* FOR HEADERS */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
  color: #db6551;
}

#h1 {
  font-size:90px; 
  Margin-top:10%; 
  color:#7d605c; 
  font-family: 'Acme', sans-serif;
}

#welcome {
  font-size:90px; 
  Margin-top:10%; 
  color:#db6551; 
  font-family: 'Acme', sans-serif;
}

#kauhale {
  font-size:90px; 
  font-family: 'Acme', sans-serif;
  margin-top:30px; 
  color:#7d605c;  
}
section {
  display: block;
  margin-top: 5%;
}

.amenities .row {
  margin-left: 10%;
  margin-right: 10%;
}

.contact-us {
  background-image: url(../images/Landing/contact.png);
  background-position: center;
  height: 100%;
  min-height: 1000px;
}

form {
  text-align: center;
}

/* *########################################### SLIDERS STYLES ################################  */
#slider {
  position: relative;
  width: 60%;
  height: 35vw;
  margin: 150px auto;
  perspective: 1400px;
  transform-style: preserve-3d;
  margin-top: 5%;
}

input[type="radio"] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin: 0 15px 0 0;
  opacity: 0.2;
  transform: translateX(-83px);
  cursor: pointer;
}

input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}

#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(20%, 0, -100px);
  opacity: 0.5;
}

/* Next to Next Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(40%, 0, -250px);
  opacity: 0.5;
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-40%, 0, -250px);
  opacity: 0.5;
}

/* Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-20%, 0, -100px);
  opacity: 0.5;
}

/* ########################################## BUTTON ######################################### */
.btn-Learn button {
  background-color: white;
  border-radius: 30px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #7d605c;
  font-family: "Poppins";
  font-size: 16px;
  padding: 15px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  text-align: center;
}

.btn-Learn button:hover {
  background-color: #eed1c2;
}

.btn-Learn button:active {
  position: relative;
  top: 1px;
}

.btn-Send button {
  background-color: #db6551;
  border-radius: 30px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 20px;
  padding: 20px 159px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  text-align: center;
  margin-left: 28%;
}

.btn-Send button:hover {
  background-color: #c0b65a;
}

.btn-Send button:active {
  position: relative;
  top: 1px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(192, 182, 90);
}
/* ----------------------------MOBILE RESPONSIVENESS------------------------------- */

@media screen and (min-width: 350px) and (max-width: 900px) {
  * {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    position: relative !important;
  }

  h1 {
    color: #db6551;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: "Acme", sans-serif;
  }

  section {
    display: block;
    margin-top: 5%;
  }

  .amenities .row {
    margin-left: 10%;
    margin-right: 10%;
  }

  .contact-us {
    background-image: url(../images/Landing/contact.png);
    background-position: center;
    height: 100%;
    min-height: 1000px;
  }

  form {
    text-align: center;
  }

  /* *########################################### SLIDERS STYLES ################################  */
  #slider {
    position: relative;
    width: 60%;
    height: 35vw;
    margin: 150px auto;
    perspective: 1400px;
    transform-style: preserve-3d;
    margin-top: 5%;
  }

  input[type="radio"] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: 0 15px 0 0;
    opacity: 0.2;
    transform: translateX(-83px);
    cursor: pointer;
  }

  input[type="radio"]:nth-child(5) {
    margin-right: 0px;
  }

  input[type="radio"]:checked {
    opacity: 1;
  }

  #slider label,
  #slider label img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
  }

  /* Slider Functionality */

  /* Active Slide */
  #s1:checked ~ #slide1,
  #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
  #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
    transform: translate3d(0%, 0, 0px);
  }

  /* Next Slide */
  #s1:checked ~ #slide2,
  #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
  #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(20%, 0, -100px);
    opacity: 0.5;
  }

  /* Next to Next Slide */
  #s1:checked ~ #slide3,
  #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
  #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(40%, 0, -250px);
    opacity: 0.5;
  }

  /* Previous to Previous Slide */
  #s1:checked ~ #slide4,
  #s2:checked ~ #slide5,
  #s3:checked ~ #slide1,
  #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(-40%, 0, -250px);
    opacity: 0.5;
  }

  /* Previous Slide */
  #s1:checked ~ #slide5,
  #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
  #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(-20%, 0, -100px);
    opacity: 0.5;
  }

  /* ########################################## BUTTON ######################################### */
  .btn-Learn button {
    background-color: #db6551;
    border-radius: 30px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 20px;
    padding: 15px 70px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    text-align: center;
  }

  .btn-Learn button:hover {
    background-color: #c0b65a;
  }

  .btn-Learn button:active {
    position: relative;
    top: 1px;
  }

  .btn-Send button {
    background-color: #db6551;
    border-radius: 30px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 20px;
    padding: 20px 159px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    text-align: center;
    margin-left: 28%;
  }

  .btn-Send button:hover {
    background-color: #c0b65a;
  }

  .btn-Send button:active {
    position: relative;
    top: 1px;
  }
}
