/*FONTS IMPORT*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"); /* FOR PARAGRAPHS */
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative !important;
}

#cartheader {
  margin-top: 10%;
}
section {
  display: block;
  margin-top: 5%;
}
.paw-cart {
  margin-top: 10%;
}
form {
  text-align: center;
}

/* ########################################## BUTTON ######################################### */
.btn-Learn button {
  background-color: #db6551;
  border-radius: 30px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 16px;
  padding: 15px 50px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  text-align: center;
}
.btn-Learn button:hover {
  background-color: #c0b65a;
}
.btn-Learn button:active {
  position: relative;
  top: 1px;
}

#thank-you {
  margin-top: 15%;
  color: #db6551;
  font-size: 60px;
  font-family: "Acme", sans-serif;
  font-weight: 800;
}

#tq {
  margin-top: 10%;
}

#order {
  font-size: 30px;
}
