/*FONTS IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/* font-family: 'Acme', sans-serif; FOR HEADERS */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative !important;
}

section {
  display: block;
  margin-top: 5%;
}

.card:hover {
  transform: scale(1.10);
  box-shadow: 5px 5px 15px rgba(192,182,90);  
}