/*FONTS IMPORT*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative !important;
}

section {
  display: block;
  margin-top: 5%;
}
.abouthead {
  margin-top: 10%;
}
#header {
  color: #db6551;
  font-size: 80px;
  font-family: "Acme", sans-serif;
  font-weight: 800;
}
#profilecard {
  --c: #8A9B0F; /* the border color */
  --b: 10px;    /* the border thickness*/
  --g: 5px;     /* the gap on hover */
  
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
     var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
     0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
  transition: .3s, background-position .3s .3s;
  cursor: pointer;
}
#profilecard:hover {
  /*transform: scale(1.1);*/
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
}
